body { 
background-color:#008080;
}

h1 , p {
	font-family:"Arial", "Helvatica", "Sans-serif"; 
	text-ident: 10px;
	
li { 
display:inline;
margin-left:20px
}

a {
	color:#ffffff;
	text-decoration:none;
}

a:hover {
	color:#ff8800;
}


img {
	float:right;
	
div {
	width:600px;
	height:100%;
	background-color:#999999;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
}

h1 , p {
	font-family:"Arial", "Helvatica", "Sans-serif";
	text-indent: 10px;
	padding:0px 10px 0px 10px;
}

ul{
	float:left;
	width:560px;
}
	
	